header {
  min-height: 90px;
  min-width: 100%;
  background-color: #444;
  display: flex;
}
body {
  margin: 0px;
}
.main-wrap {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  background-color: #e39;
  height: 1000px;
}
.site-navigation {
  min-width: 240px;
  margin-left: auto;

}
.main-header-basket {
  min-width: 80px;
  width:auto;
}
.main-header-logo {
  min-width: 80px;  
  width:auto;
}
.main-navigator {
  width: 900px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}