body {
  margin: 0px;
}

.center {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-header {
    padding: 40px;
    text-align: center; /*temp*/
    background: #aaabab;
    color: white;
}

.main-content {
  background-color: #d8d9d9;
  text-align: center; /*temp*/
  min-height: 400px;
}

.side {
  flex: auto;
  flex-grow: 1;
  background-color: #cdcccc;
  margin: 20px;
}

.content {
  flex: auto;
  flex-grow: 3;
  background-color: #cdcccc;
  margin: 20px;
}

.main-footer {
  background-color: #858585;
  padding: 40px;
  text-align: center; /*temp*/
}